* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  height: 100vh;
  background-color: hsl(185deg, 41%, 84%);
  font-family: "Space Mono", monospace;
}

@media screen and (max-width: 650px) {
  body {
    height: auto;
    gap: 40px;
  }
}
/* style for btn tip app */
.select-tip {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.select-tip .container-tip-button-first, .select-tip .container-tip-button-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.select-tip .container-tip-button-first .tip-btn, .select-tip .container-tip-button-second .tip-btn {
  width: 100%;
  height: 35px;
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(0deg, 0%, 100%);
  border-radius: 5px;
  border: none;
  font-family: "Space Mono", monospace;
}
.select-tip .container-tip-button-first .tip-btn-custom, .select-tip .container-tip-button-second .tip-btn-custom {
  width: 100%;
  height: 35px;
  background-color: hsl(189deg, 41%, 97%);
  color: hsl(183deg, 100%, 15%);
  border-radius: 5px;
  border: none;
  font-family: "Space Mono", monospace;
}
.select-tip .tip-btn, .select-tip .tip-btn-custom:hover {
  cursor: pointer;
}

.reset-btn {
  width: 100%;
  border: none;
  background-color: hsl(186deg, 14%, 43%);
  font-family: "Space Mono", monospace;
  color: hsl(183deg, 100%, 15%);
  border-radius: 5px;
  padding: 10px;
}
.reset-btn:hover {
  background-color: hsl(172deg, 67%, 45%);
  cursor: pointer;
}

@media screen and (max-width: 650wpx) {
  .container-tip-button-first, .container-tip-button-second {
    display: flex;
    flex-direction: column;
  }
  .container-tip-button-first .tip-btn, .container-tip-button-second .tip-btn {
    width: 50%;
    height: 35px;
  }
  .container-tip-button-first .tip-btn-custom, .container-tip-button-second .tip-btn-custom {
    width: 50%;
    height: 35px;
  }
}
/* style for Home page app */
header h1 {
  letter-spacing: 10px;
  font-weight: lighter;
  color: hsl(186deg, 14%, 43%);
}

main {
  max-width: 660px;
  width: 100%;
  height: auto;
  border-radius: 15px;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-part-app {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}
.left-part-app .bill-container, .left-part-app .number-people-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.left-part-app label {
  color: hsl(186deg, 14%, 43%);
}

.container-input {
  font-family: "Space Mono", monospace;
  border: none;
  max-width: 300px;
  width: 100%;
  background-color: hsl(189deg, 41%, 97%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  color: hsl(185deg, 41%, 84%);
}

input {
  font-family: "Space Mono", monospace;
  border: none;
  max-width: 280px;
  width: 100%;
  background-color: hsl(189deg, 41%, 97%);
  display: flex;
  align-self: flex-end;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  color: hsl(185deg, 41%, 84%);
}

.right-part-app {
  max-width: 240px;
  width: 100%;
  padding: 40px;
  height: 270px;
  border-radius: 15px;
  background-color: hsl(183deg, 100%, 15%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-part-app .top-part {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right-part-app .top-part .tip-amount, .right-part-app .top-part .total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.right-part-app .top-part .tip-amount .container-info-tip-amount h3, .right-part-app .top-part .tip-amount .container-info-total h3, .right-part-app .top-part .total .container-info-tip-amount h3, .right-part-app .top-part .total .container-info-total h3 {
  font-size: 14px;
  color: hsl(0deg, 0%, 100%);
}
.right-part-app .top-part .tip-amount .container-info-tip-amount p, .right-part-app .top-part .tip-amount .container-info-total p, .right-part-app .top-part .total .container-info-tip-amount p, .right-part-app .top-part .total .container-info-total p {
  font-size: 12px;
  color: hsl(184deg, 14%, 56%);
}
.right-part-app .top-part .tip-amount .container-result-tip-amount p, .right-part-app .top-part .tip-amount .container-result-total p, .right-part-app .top-part .total .container-result-tip-amount p, .right-part-app .top-part .total .container-result-total p {
  color: hsl(172deg, 67%, 45%);
  font-size: 24px;
}

@media screen and (max-width: 650px) {
  header {
    margin-top: 20px;
  }
  main {
    max-width: 355px;
    width: 100%;
    height: auto;
    border-radius: 15px;
    background-color: #fff;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
