/* style for btn tip app */



.select-tip{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .container-tip-button-first, .container-tip-button-second{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        gap: 10px;
        .tip-btn{
            width: 100%;
            height: 35px;
            background-color: hsl(183, 100%, 15%);
            color: hsl(0, 0%, 100%);
            border-radius: 5px;
            border: none;
            font-family: 'Space Mono', monospace;
        }
        .tip-btn-custom{
            width: 100%;
            height: 35px;
            background-color: hsl(189, 41%, 97%);
            color: hsl(183, 100%, 15%);
            border-radius: 5px;
            border: none;
            font-family: 'Space Mono', monospace;
        }
    }

    .tip-btn, .tip-btn-custom:hover{
        cursor: pointer;
    }
}

.reset-btn{
    width: 100%;
    border: none;
    background-color:hsl(186, 14%, 43%);
    font-family: 'Space Mono', monospace;
    color: hsl(183, 100%, 15%);
    border-radius: 5px;
    padding: 10px;
    &:hover{
        background-color:hsl(172, 67%, 45%);
        cursor: pointer;
    }
}

@media screen and (max-width: 650wpx) {
    .container-tip-button-first, .container-tip-button-second{
        display: flex;
        flex-direction: column;
        .tip-btn{
            width: 50%;
            height: 35px;
        }
        .tip-btn-custom{
            width: 50%;
            height: 35px;
        }
    }
}