/* style for Home page app */

header{
    h1{
        letter-spacing: 5px;
        font-weight: 700;
    }
}

main{
    width: 600px;
    border-radius: 15px;
    background-color: #fff;
}

.left-part-app{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .bill-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

input{

}